body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  display: inline-block
}

nav {
  background-color: #474749;
  color: #f5cf00;
  font-size: 1.5rem;
  height: 8rem;
  padding: 5% 5% 2.5% 5%;
  width: 100%;
  position: fixed;
  z-index: 5;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline;
  padding-right: 2rem;
}

input {
  display: block;
}

label {
  display: block;
}


.Introduction {
  height: 30rem;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 20%;
  background-color: #b4b5b9;
  color: #474749;
  font-weight: bold;
}

.Introduction h1 {
  padding-top: 50px;
}

.work {
  text-align: center;
  background-color: #e2e2e4;
  padding-bottom: 5rem;
}

.work h1 {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.work .row {
  margin: 3rem;
}
img {
  width: 100%;
  height: auto;
}

.contact-info h1 {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

form {
  margin-top: 3rem;
  padding-left: 4rem;
}

.contact-info p{
  padding-left: 4rem;
}
